PORT=3333

# TigerBeetle berjalan di port 3001 sesuai setup kita tadi
TB_CLUSTER_ID=0
TB_REPLICA_ADDRESSES=3000

# Redis Configuration (opsional, default localhost:6379 tanpa password)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=